h1{font-family:Advent Pro;padding: 20px; margin:20px 100px 20px 100px;}
.cite{color:green; background-color:yellow; font-family:Dosis; border: 10px double white;padding: 20px;}
li{text-align:center;}
.me{text-align:center;
color:black; background-color:#d4b2cc;
border: 10px groove #9991ab;}
h3{font-family:Architects Daughter;}
h6{text-align:center;
color:blue;}
a{text-align:center; color:#52244d;}
h6{background-color: black;}
body{background-color:#c4ffb0;padding: 20px;}
.l{color:pink; background-color:yellow; font-family:Homemade Apple;border: 10px inset blue;}
h6{font-family:Montserrat Alternates;}
